In [1]:
import os
import numpy as np
import warnings
import pandas as pd
np.set_printoptions(suppress=True)

warnings.filterwarnings(action='ignore')

In [2]:
data_path = "../data/"
view_hist = pd.read_pickle(os.path.join(data_path,'sid_6to6.pkl'))
view_hist.rename({'MAC':'user_id','ptitle':'item_id','start_time':'timestamp'}, axis=1, inplace=True)
view_hist.drop_duplicates(subset=['user_id', 'item_id'], inplace=True)
view_hist.dropna(inplace=True)

In [7]:
tmp = view_hist[view_hist['stay_time'] >= 3600]
tmp_len = tmp.groupby('user_id').apply(len)
user_ids = tmp_len[tmp_len > 50].index
tmp = tmp[tmp.user_id.isin(user_ids)]
n_iter, n_user, n_item = len(tmp), tmp.user_id.nunique(), tmp.item_id.nunique()

print(n_iter, n_user, n_item)
sparsity_ratio = 1 -(n_iter / (n_user * n_item))
print('sparsity: ', sparsity_ratio)

314569 2833 16729
sparsity:  0.9933625789846011

In [8]:
df = tmp[['user_id', 'item_id','timestamp']]
df.reset_index(drop=True)
df.to_csv(os.path.join(data_path, 'kobaco.csv'), index=False)

In [10]:
data_path = "../data/"
df = pd.read_csv(os.path.join(data_path, 'kobaco.csv'))
df

        user_id                        item_id   timestamp
0             2                   MBC 뉴스투데이 2부  1654032300
1             2                   식객 허영만의 백반기행  1654041840
2             2                        구필수는 없다  1654085400
3             2  선택 2022 5부 제8회 전국동시지방선거 개표방송   1654117172
4             2                           내부자들  1654176458
...         ...                            ...         ...
314564     4845                         NnF 점퍼  1666816560
314565     4845                      비에날씬 다이어트  1666820160
314566     4845                           최스타쇼  1666823760
314567     4845                 수상한 책방 동서남Book  1666986720
314568     4845                     해리포터와 불의 잔  1667010021

[314569 rows x 3 columns]